/* Center everything on screen */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #9f07ac, #b63c09);
    font-family: Arial, sans-serif;
}

* {
    text-align: center;
}

button {
    padding: 12px 30px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(45deg, #4CAF50, #2ecc71);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}


button:hover {
    transform: translateY(-2px) scale(1.05);
    box-shadow: 0 6px 15px rgba(0,0,0,0.3);
}

/* Click effect */
button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;

    font-weight: 600;
    letter-spacing: 0.5px;

    border-bottom: 2px solid #4CAF50;
    display: block;
    padding-bottom: 5px;
}

.copyCode {
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
}

.copyCode:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}